In [36]:
import pandas as pd
import numpy as np

In [37]:
df=pd.read_csv("C:\\Users\\DELL\\Documents\\Set+1_Descriptive+statistics+Probability.csv")

In [38]:
#find mean,sd,var,outliers

In [39]:
df

     Name of company  Measure X
0      Allied Signal      24.23
1      Bankers Trust      25.53
2      General Mills      25.41
3     ITT Industries      24.14
4   J.P.Morgan & Co.      29.62
5    Lehman Brothers      28.25
6           Marriott      25.81
7                MCI      24.39
8      Merrill Lynch      40.26
9          Microsoft      32.95
10    Morgan Stanley      91.36
11  Sun Microsystems      25.99
12         Travelers      39.42
13        US Airways      26.71
14    Warner-Lambert      35.00

In [40]:
df.describe()

       Measure X
count  15.000000
mean   33.271333
std    16.945401
min    24.140000
25%    25.470000
50%    26.710000
75%    33.975000
max    91.360000

In [41]:
df.var()

C:\Users\DELL\AppData\Local\Temp\ipykernel_1692\1568254755.py:1: FutureWarning: The default value of numeric_only in DataFrame.var is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.var()

Measure X    287.146612
dtype: float64

In [46]:
q1=np.percentile(df["Measure X"],25)
q2=np.percentile(df["Measure X"],50)
q3=np.percentile(df["Measure X"],75)
print("first quartile",q1)
print("second quartile",q2)
print("third quartile",q3)

first quartile 25.47
second quartile 26.71
third quartile 33.975

In [47]:
iqr=q3-q1
print("iqr",iqr)

iqr 8.505000000000003

In [51]:
#outliers
import numpy as np
mean=np.mean(df["Measure X"])
print("mean",mean)
sd=np.std(df["Measure X"])
print("sd",sd)
data=df["Measure X"]
data
def find_outlier(data):
    posthres=2
    negthres=-2
    outlier=[]
    for items in data:
            zscore=(items-mean)/sd
            if(zscore<negthres) or(zscore>posthres):
                outlier.append(items)
    return outlier
outlier=find_outlier(data)
print("outlier",outlier)

mean 33.27133333333333
sd 16.370812590976932
outlier [91.36]

2)ques:What is inter-quartile range of this dataset? (please approximate the numbers) In one line, explain what this value implies

In [ ]:
ans:
2)1.Approximately First Quantile Range, Q1 = 5 
Third Quantile Range ,Q3 = 12, 
Median 
Second Quartile Range = 7 
Inter-Quartile Range,IQR = Q3 – Q1 = 12 – 5 = 7 
Second Quartile Range is the Median Value

2)2.What can we say about the skewness of this dataset?

In [54]:
#from scipy.stats import skew

Right-Skewed, it is not normally distribution

2)3.If it was found that the data point with the value 25 is actually 2.5, how would the new box-plot be affected?

In that case there would be no Outliers on the given dataset because of the outlier the data had positive skewness it will reduce and the data will get normal distributed

3)Answer the following three questions based on the histogram above. 
3)1.Where would the mode of this dataset lie? 
    The mode of this data set lie in between 5 to 10 and aprx between 4 to 8 .

3)2.Comment on the skewness of the dataset.	
    Right-Skewed, Mean>Median>Mode

 3)3.Suppose that the above histogram and the box-plot in question 2 are plotted for the same dataset. Explain how these graphs complement each other in providing information about any dataset. 
     They both are right-skewed and both have outliers the median can be easily visualized in box plot where as in histogram mode is more visible.

4)AT&T was running commercials in 1990 aimed at luring back customers who had switched to one of the other long-distance phone service providers. One such commercial shows a businessman trying to reach Phoenix and mistakenly getting Fiji, where a half-naked native on a beach responds incomprehensibly in Polynesian. When asked about this advertisement, AT&T admitted that the portrayed incident did not actually take place but added that this was an enactment of something that “could happen.” Suppose that one in 200 long-distance telephone calls is misdirected. What is the probability that at least one in five attempted telephone calls reaches the wrong number? (Assume independence of attempts.)
Ans: IF 1 in 200 long-distance telephone calls are getting misdirected.
probability of call misdirecting = 1/200 Probability of call not Misdirecting = 1-1/200 = 199/200 The probability for at least one in five attempted telephone calls reaches the wrong number Number of Calls = 5 n = 5 p = 1/200 q = 199/200 P(x) = at least one in five attempted telephone calls reaches the wrong number P(x) = ⁿCₓ pˣ qⁿ⁻ˣ P(x) = (nCx) (p^x) (q^n-x) # nCr = n! / r! * (n - r)! P(1) = (5C1) (1/200)^1 (199/200)^5-1 P(1) = 0.0245037

5)Returns on a certain business venture, to the nearest $1,000, are known to follow the following probability distribution
x P(x) -2,000 0.1 -1,000 0.1 0 0.2 1000 0.2 2000 0.3 3000 0.1 E(X) =Sum X.P(X) | E(X^2) =X^2P(X) -200 | 400000 -100 | 100000 0 | 0 200 | 200000
600 | 1200000 300 | 900000 Total: 800 | 2800000 What is the most likely monetary outcome of the business venture? Ans: The most likely monetary outcome of the business venture is 2000$ As for 2000$ the probability is 0.3 which is maximum as compared to others

5)1.Is the venture likely to be successful? Explain
      Yes, the probability that the venture will make more than 0 or a profit p(x>0)+p(x>1000)+p(x>2000)+p(x=3000) = 0.2+0.2+0.3+0.1 = 0.8 this states that there is a good 80% chances for this venture to be making a profit

5)2.What is the long-term average earning of business ventures of this kind? Explain
       The long-term average is Expected value = Sum (X * P(X)) = 800$ which means on an average the returns will be + 800$

5)3.What is the good measure of the risk involved in a venture of this kind? Compute this measure
        The good measure of the risk involved in a venture of this kind depends on the Variability in the distribution. Higher Variance means more chances of risk Var (X) = E(X^2) –(E(X))^2 = 2800000 – 800^2 = 2160000